<!doctype html>
<html lang="en-US">
	<head>

		<title>{{ .Title }} | 4 Displays</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="4 Displays | Brochure Holders and more">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/og-image.jpg">

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		
		<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="YOUR_API_KEY" id="snipcart"></script>
		
		<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body class="sans-serif">
